{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container">
    <!-- Left section: Logo and Text -->
    <div class="left-section">
      <img src="{% static 'images/logo.png' %}" alt="Bachelor Point Logo" class="logo">
    </div>

    <!-- Right section: Text and Button -->
    <div class="right-section">
      <p class="prompt">Here for the first time?<br><strong>Create an Account</strong></p>
      <div class="register-group">
        <div class="arrow">➜</div>
        <a href="{% url 'Register' %}" class="register-button">Register Now</a>
          
      </div>
    </div>
    <script src="https://cdn.botpress.cloud/webchat/v2.4/inject.js"></script>
    <script src="https://files.bpcontent.cloud/2025/05/06/18/20250506182523-CWX7EHA9.js"></script>
  </div>

{% endblock %}
